#one{
    background-color:red;
    height:150px;
    width:150px;
    border:5px solid black;
    border-radius: 50%;
    margin: 10px;
}
#two{
       background-color:yellow;
    height:150px;
    width:150px;
    border:5px solid black;
    border-radius: 50%;
    margin: 10px;
    display: inline-block;
}
#three{
       background-color:green;
    height:150px;
    width:150px;
    border:5px solid black;
    border-radius: 50%;
    margin: 10px;
    display: inline-block;
}
#zero{
    background-color:whitesmoke;
    width:600px;
    border:5px solid black;
}
/* .psa {
    display: inline-block;
} */