#container{
    background-color:wheat;
    display:grid;
    grid-gap:3px;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows:repeat(12,1fr);
    height:500px;
    width:80%;
}

.box{
    color:olivedrab;
    background-color:pink;
    margin:3px;
    border:1px solid black;
    padding:5px;
}

#head{
    grid-column:1/13;
}

#sidebar{
    grid-column:1/4;
    grid-row:2/12;
}

#navigation{
    grid-column:4/10;
    grid-row:2/3;
}

#main{
    grid-column:4/10;
    grid-row:3/12;
}

#ads{
    grid-column:10/13;
    grid-row:2/12;
}

#footer{
    grid-column:1/13;
    grid-row:12/13;
}